# Ignore bundler config
/.bundle

# Ignore bundler install path
/vendor/bundle

# Ignore all logfiles and tempfiles
/log/*.log
/tmp

# Ignore database.yml for security
/config/database.yml

# Ignore secret_token.rb for security
/config/initializers/secret_token.rb
