# Ignore bundler config
/.bundle

# Ignore rbenv file
/.ruby-version

# Ignore bundler install path
/vendor/bundle

# Ignore all logfiles and tempfiles
/log/*.log
/tmp

# Ignore db/*.sqlite3
# Comment the following line if you are in development and want to use sqlite
/db/*.sqlite3

# Ignore database.yml for security
/config/database.yml

# Ignore secrets.yml for protecting secrets
/config/secrets.yml

# Ignore public/assets
/public/assets/

# Ignore `bundle --binstubs`
/bin/