<footer class="container">
  <p class="text-center" id="rss">
    <a href="feed://weshargrove.com/atom"><i class="fa fa-rss-square fa-2x rss-color"></i></a>
  </p>
  <p class="text-center text-muted"><small>Powered by <%= link_to 'Vino', 'https://github.com/whargrove/Vino' %>. Hosted on <%= link_to 'Linode', 'https://www.linode.com/?r=44c144fbd849c356115546f873fa65ae36305e4c' %>.</small></p>
</footer>
