<footer class="container">
  <p class="text-center" id="rss">
    <a href="feed://weshargrove.com/atom"><i class="fa fa-rss-square fa-2x rss-color"></i></a>
  </p>
  <p class="text-center text-muted">
    <small>Powered by <a href="https://www.github.com/whargrove/vino" target="_blank">Vino</a>. Hosted on <a href="https://www.heroku.com" target="_blank">Heroku</a>.</small>
  </p>
</footer>
