<header class="container">
  <div class="row">
    <div class="col-sm-7">
      <h1 class="text-left"><small>the blog of</small><br><%= link_to 'Wes Hargrove', root_path %></h1>
    </div>
    <div class="col-sm-5">
      <ul class="nav nav-pills pull-right hidden-xs" id="identities">
        <li><a href="http://www.twitter.com/whargrove" data-toggle="tooltip" data-placement="bottom" title="@whargrove" id="id-twitter"><i class="fa fa-twitter fa-2x"></i></a></li>
        <li><a href="http://www.github.com/whargrove" data-toggle="tooltip" title="Github" id="id-github"><i class="fa fa-github-alt fa-2x"></i></a></li>
        <li><a href="http://resume.weshargrove.com/" data-toggle="tooltip" title="r&eacute;sum&eacute;" id="id-resume"><i class="fa fa-file-text fa-2x"></i></a></li>
        <li><a href="http://whphoto.co/" data-toggle="tooltip" title="photography" id="id-photography"><i class="fa fa-camera fa-2x"></i></a></li>
      </ul>
    </div>
  </div>
</header>
