<% if @post.link %>
  <h2><%= link_to '<span class="glyphicon glyphicon-link"></span>'.html_safe + '&nbsp;'.html_safe + @post.title, @post.link_url %></h2>
<% else %>
  <h2><%= @post.title %></h2>
<% end %>
<% # Check if Post.content exists otherwise RedCloth will raise TypeError %>
<% if @post.content %>
  <% # Convert Post.content to sanitized HTML %>
  <%= sanitize RedCloth.new(@post.content).to_html %>
<% end %>

