<% if @post.link %>
  <h2><%= link_to '<span class="glyphicon glyphicon-link"></span>'.html_safe + '&nbsp;'.html_safe + @post.title, @post.link_url %></h2>
<% else %>
  <h2><%= @post.title %></h2>
<% end %>
<% # Use RedCloth to display p.content as HTML after sanitizing %>
<%= sanitize RedCloth.new(@post.content).to_html %>
