/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import "bootstrap";

/* Custom CSS classes */

.caret-separator {
	color: #F5F5F5;
	font-size: 24px;
}

.separator {
	width: 14px;
	margin: 10px auto;
}

.rss-color {
	transition: color .25s;
}

.rss-color:hover {
	color: #FF9900;
}

#rss {
	margin-bottom: 0px;
}

footer {
	margin-top: 25px;
	margin-bottom: 25px;
}

/* app/views/layouts/application.html.erb */

#identities {
	margin-top: 58px;
}

/* Modifications to bootstrap.css */

header {
	margin-top: 10px;
}

footer p {
	padding-top: 10px;
	margin-bottom: 5px;
}

a {
	color: #333333;
	text-decoration: none;
}

a:hover,
a:focus {
  color: #999999;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.1;
}

h1 small {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.1;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular-ab2f6984951c07fd89e6afdefabd93c7.eot');
  src: url('/assets/glyphicons-halflings-regular-ab2f6984951c07fd89e6afdefabd93c7.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular-7a07f26f72466361ac9671de2d33fd1c.woff') format('woff'), url('/assets/glyphicons-halflings-regular-4b2130768da98222338d1519f9179528.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular-24dfb40c91db789b8b8faba6886ac1ef.svg#glyphicons-halflingsregular') format('svg');
}
