header {
	margin-top: 10px;
}

footer p {
	padding-top: 10px;
	margin-bottom: 5px;
}

/* Custom CSS classes */

.glass-separator {
	color: #F5F5F5;
	font-size: 24px;
}

.separator {
	width: 24px;
	margin: 20px auto;
}
