#identities {
  margin-top: 58px;
}

.rss-color {
  transition: color .25s;
}

.rss-color:hover {
  color: #FF9900;
}

#rss {
  margin-bottom: 0px;
}

header {
  margin-top: 10px;
}

footer {
  margin-top: 25px;
  margin-bottom: 25px;
}

footer p {
  padding-top: 10px;
  margin-bottom: 5px;
}
